{% extends "base.html" %}

{% set title = "Achievement information" %}

{% block content %}
<body>
<div>
    <H3>
        {{ achievement[0].name }}
    </H3>
    <p>
        {{ achievement[0].description }}
    </p>
    <p>
        Verification_type: {{ achievement[0].achi_condition_group_name }}
    </p>
    {% if achievement[0].parameter != "href" %}
        <p>
            Condition: {{ achievement[0].parameter }} = {{ achievement[0].value }}
        </p>
    {% endif %}
    <p>
        Created at {{ achievement[0].created_date.strftime('%Y-%m-%d %H:%M') }} by <a href="/{{ achievement[0].user_id }}">{{ achievement[0].u_name }} {{ achievement[0].u_surname }} </a>
    </p>
    {% if achievement[0].parameter == 'location' %}
    <p>Radius: {{ achievement[0].geo[-1] }} km</p>
    <p>Coordinates: {{ achievement[0].geo[0] }}</p>
        <a href="{{ '/verify_achievement/location/%s'%achievement[0].condition_id }}"><button>
            Verify
        </button></a>
    {% endif %}
    {% if achievement[0].parameter == 'message_to_achi' %}
        <button id="get_message_block">
            Verify
        </button>
    {% endif %}
    <form action="{{ url('verify_message_to_achi') }}" method="post">
        <input id="achi" name="achi" type="text" value="{{ achievement[0].condition_id }}" hidden>
        <input id="message" name="message" type="text" value="" hidden>
        <button id="message_send" type="submit" hidden>Send</button>
    </form>
</div>
</body>
{% endblock %}