{% extends "base.html" %}

{% set title = "Achievements verify" %}

{% block content %}
{% if decline %}
    <p>Sorry, but you have not met the condition of receipt achievement :</p><p><a href="/achievement/{{ achievement.achievement_id }}">{{ achievement.name }}</a></p>
    <br>
    {% for condition in conditions_not_reached %}
        <p>Group:{{ condition.condition_group_id }}</p>
        <p>{{ condition.parameter_name }} != {{condition.value}}</p>
        <br>
    {% endfor %}
{% else %}
<p>Congratulations! U have got new achievement:</p><p><a href="/achievement/{{ achievement.achievement_id }}">{{ achievement.name }}</a></p>
{% endif %}
{% endblock %}