{% extends "base.html" %}

{% set title = "Achievements" %}


<body>
{% block content %}
    <button id="create_achievement_button">Create Achievement</button>
    <button id="hide_create_achievement_button" hidden>Hide</button>
    <div id="create_achievement" class="create_achievement" hidden>
        <form action="{{ url('add_achievement') }}" method="post">
            <p>Group</p>
            <select name="select_group" id="select_group">
                {% for group in groups %}
                    <option value="{{ group.group_id }}">{{ group.group_name }}</option>
                {% endfor %}
            </select>
            <p id="service_p" hidden>Service</p>
            <select name="select_service" id="select_service" hidden>
                <option value="">None</option>
            </select>
            <p>Aggregation</p>
            <select name="select_aggregation" id="select_aggregation">
                {% for i in group %}
                    {% if i.aggregate_id is not none %}
                        <option value="{{ i.aggregate_id }}">{{ i.group_name + "/" + i.aggregate_name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <p>Parameter</p>
            <select name="select_parameter" id="select_parameter">
                {% for i in group %}
                    {% if i.parameter_id and i.aggregate_id is not none %}
                        <option value="{{ i.parameter_id }}">{{ i.group_name + "/" + i.aggregate_name + "/" + i.parameter_name }}</option>
                    {% elif i.parameter_id and i.aggregate_id is none %}
                        <option value="{{ i.parameter_id }}">{{ i.group_name + "/" + i.parameter_name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <p>Value</p>
            <input id="value" name="value" type="text" value="" placeholder="value"/>
            <p>Name</p>
            <input id="name" name="name" type="text" value="" placeholder="name"/>
            <p>Description</p>
            <input id="description" name="description" type="text" value="" placeholder="description"/>
            <p>Subsphere</p>
            <select name="select_subsphere" id="select_subsphere">
                {% for subsphere in subspheres %}
                    <option value="{{ subsphere.subsphere_id }}">{{ subsphere.subsphere_name }}</option>
                {% endfor %}
            </select>
            <p id="coords_p">Coordinates</p>
            <input id="coords" name="coords" type="text" value="" placeholder="coordinates"/>
            <p>As community</p>
            <input id="achi_as_community" name="as_community" type="radio"/>
            <select name="achi_community" id="achi_community" hidden>
                {% for i in communities %}
                    <option value="{{ i.community_id }}">{{ i.community_name }}</option>
                {% endfor %}
            </select>
            <p>As course</p>
            <input id="achi_as_course" name="achi_as_course" type="radio"/>
            <select name="achi_course" id="achi_course" hidden>
                {% for i in courses %}
                    <option value="{{ i.course_id }}">{{ i.course_name }}</option>
                {% endfor %}
            </select>
            <br>
            <button type="submit">Send</button>
        </form>
    </div>
    <br>
    <div>
    {% if achievements_get %}
    <p> Now U have been reached this achievements: </p>
        <br>
    {% for achievement in achievements_get %}
        <a href="{{ '/achievement/%s'%achievement.achievement_id }}"><p>{{ achievement.name }} </a> : {{ achievement.description }}</p>
        <p>{{ achievement.sphere_name }}: {{ achievement.subsphere_name }}</p>
    {% endfor %}
    {% endif %}
    </div>
    <br>
    <div>
    {% if achievements_my %}
    <p> Now U have been created this achievements: </p>
        <br>
    {% for achievement in achievements_my %}
        <div><a href="{{ '/achievement/%s'%achievement.achievement_id }}"><p>{{ achievement.name }} </a>: {{ achievement.description }}</p>
            <p>{{ achievement.sphere_name }}: {{ achievement.subsphere_name }}</p>
            {% if achievement.achievement_qr %}
                <figure class="image is-128x128">
                    <img src="{{ url('static', filename='QR/'+achievement.achievement_qr + '.png') }}">
                </figure>
            {% endif %}
        </div>
    {% endfor %}
    {% endif %}
    </div>
    <br>
    <div>
    {% if achievements_sug %}
    <p> Recommended achievements: </p>
    <br>
    {% for achievement in achievements_sug %}
        {% if achievement.new == True %}
            <a href="{{ '/achievement/%s'%achievement.achievement_id }}"><p>{{ achievement.title }}</a> : {{ achievement.description }}. <a href="/user/{{ achievement.user_id }}">{{ achievement.name }} {{ achievement.surname }}</a>
            <p>{{ achievement.sphere_name }}: {{ achievement.subsphere_name }}</p>
            {{ achievement.created_date }} new</p>
        {% else %}
            <a href="{{ '/achievement/%s'%achievement.achievement_id }}"><p>{{ achievement.title }} </a>: {{ achievement.description }}. <a href="/user/{{ achievement.user_id }}">{{ achievement.name }} {{ achievement.surname }}</a>
            <p>{{ achievement.sphere_name }}: {{ achievement.subsphere_name }}</p>
            {{ achievement.created_date }}</p>
        {% endif %}
    {% endfor %}
    {% endif %}
    </div>
{% endblock %}
</body>