{% extends "base.html" %}

{% set title = "Achievements" %}

{% block content %}
    <form action="{{ url('add_achievement') }}" method="post">
        <label>Create New Achievement: </label>
        <input id="name" name="name" type="text" value=""/>
        <input id="description" name="description" type="text" value=""/>
        <button type="submit">Send</button>
    </form>
    <br>
    <p> Now U have this achievements: </p>
    {% for achievement in achievements %}
        <p>{{ achievement.name }} : {{ achievement.description }}</p>
        <br>
    {% endfor %}
{% endblock %}
curl -X POST http://127.0.0.1:8080/add_achievement