<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css" />
        <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
        <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
    {% endblock %}
</head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>
<!--<script>-->
<!--    $(document).ready(function() {-->
<!--        $('#select_group').on('change', function () {-->
<!--            if (this.value == '2') {-->
<!--                $("#radius").show()-->
<!--                $("#coords").show()-->
<!--                $("#select_service").hide()-->
<!--                $("#chess_parameter_global").hide()-->
<!--                $("#chess_parameter_local").hide()-->
<!--                $("#select_parameter").hide()-->
<!--                $("#value").show();-->
<!--            } else if (this.value == '0') {-->
<!--                $("#select_parameter").show()-->
<!--                $("#value").show()-->
<!--                $("#select_service").hide()-->
<!--                $("#chess_parameter_global").hide()-->
<!--                $("#chess_parameter_local").hide()-->
<!--                $("#radius").hide()-->
<!--                $("#coords").hide();-->
<!--            } else if (this.value == '1') {-->
<!--                $("#value").hide()-->
<!--                $("#select_parameter").hide()-->
<!--                $("#select_service").hide()-->
<!--                $("#chess_parameter_global").hide()-->
<!--                $("#chess_parameter_local").hide()-->
<!--                $("#radius").hide()-->
<!--                $("#coords").hide();-->
<!--            } else if (this.value == '8') {-->
<!--                $("#value").show()-->
<!--                $("#select_parameter").hide()-->
<!--                $("#radius").hide()-->
<!--                $("#select_service").hide()-->
<!--                $("#chess_parameter_global").hide()-->
<!--                $("#chess_parameter_local").hide()-->
<!--                $("#coords").hide();-->
<!--            } else if (this.value == '7') {-->
<!--                $("#value").show()-->
<!--                $("#select_parameter").hide()-->
<!--                $("#radius").hide()-->
<!--                $("#select_service").hide()-->
<!--                $("#chess_parameter_global").hide()-->
<!--                $("#chess_parameter_local").hide()-->
<!--                $("#coords").hide();-->
<!--            } else if (this.value == '3') {-->
<!--                $("#value").show()-->
<!--                $("#select_service").show()-->
<!--                $("#chess_parameter_global").show()-->
<!--                $("#chess_parameter_local").show()-->
<!--                $("#select_parameter").hide()-->
<!--                $("#radius").hide()-->
<!--                $("#coords").hide();-->
<!--            }-->
<!--        });-->
<!--    });-->
<!--</script>-->
<script>
    $(document).ready(function() {
        $('#chess_parameter_global').on('change', function () {
            if (this.value == 'profile_stats_chess_rapid' || this.value == 'profile_stats_chess_blitz' || this.value == 'profile_stats_puzzle_rush') {
                $("#chess_parameter_local_equal").show()
                $("#chess_parameter_local_profile").hide()
                $("#chess_parameter_local_chess").show();
            }   else if (this.value == 'profile') {
                $("#chess_parameter_local_profile").show()
                $("#chess_parameter_local_chess").hide();
            }
                else {
                $("#chess_parameter_local_equal").hide()
                $("#chess_parameter_local_profile").hide()
                $("#chess_parameter_local_chess").hide();
            }
        });
    });
</script>
<script>
    $(document).ready(function() {
        $('#get_message_block').on('click', function () {
            $("#message").show()
            $("#message_send").show();
        });
    });
</script>
<script>
    $(document).ready(function() {
        var drop = JSON.parse('{{ dropdown_json | safe }}');
        $('#select_group').on('change', function () {
            var drop_new = drop.filter(element => element.group_id == $(this).find('option:selected').val());
            var lookup = {};
            var result = [];
            for (var item, j = 0; item = drop_new[j++];) {
              var agg = item.agg;

              if (!(agg in lookup)) {
                lookup[agg] = 1;
                result.push(agg);
              }
            }
            var create = '';
            for (var i = 0; i < result.length; i++)
            {
                create += '<option value="'+result[i]+'">'+result[i]+'</option>';
            }
            $('#select_aggregation').empty().append(create);
            $('#select_parameter').empty().hide();
        });
        $('#select_aggregation').on('change', function () {
            var drop_new_agg = drop.filter(element => element.group_id == $('#select_group').find('option:selected').val() && element.agg == $(this).find('option:selected').val());
            var create = '';
            for (var i = 0; i < drop_new_agg.length; i++)
            {
                create += '<option value="'+drop_new_agg[i]['par']+'">'+drop_new_agg[i]['par']+'</option>';
            }
            $('#select_parameter').empty().append(create).show();
        });
    });
</script>
<script>
    $(document).ready(function() {
        var drop = JSON.parse('{{ dropdown_community | safe }}');
        $('#community_type').on('change', function () {
            var drop_new = drop.filter(element => element.community_type == $(this).find('option:selected').val());
            var lookup = {};
            var result = [];
            for (var item, j = 0; item = drop_new[j++];) {
              var condition_name = item.condition_name;

              if (!(condition_name in lookup)) {
                lookup[condition_name] = 1;
                result.push(condition_name);
              }
            }
            var create = '';
            for (var i = 0; i < result.length; i++)
            {
                create += '<option value="'+result[i]+'">'+result[i]+'</option>';
            }
            $('#community_condition').empty().append(create);
        });
    });
</script>
<!--<script>-->
<!--        $(document).ready(function() {-->
<!--            $('#select_group').on('change', function () {-->
<!--                var keyword = document.getElementById("select_country").value;-->
<!--                var select = document.getElementById("select_city");-->
<!--                for (var i = 0; i < select.length; i++) {-->
<!--                    var txt = select.options[i].text.split('_')[1];-->
<!--                    if (!txt.match(keyword)) {-->
<!--                        $(select.options[i]).attr('disabled', 'disabled').hide();-->
<!--                    } else {-->
<!--                        $(select.options[i]).removeAttr('disabled').show();-->
<!--                    }-->

<!--                }-->
<!--            });-->
<!--    });-->
<!--</script>-->
<!-- <script>
    window.history.replaceState({}, document.title, "/" + "my-new-url.html");
</script> -->


{% block nav %}
<nav class="navbar is-light" role="navigation" aria-label="main navigation">

    <div class="navbar-menu">

        <div class="navbar-start">
            <a class="navbar-item" href="{{ user_id }}">Home</a>
            {% if current_user %}
                <a class="navbar-item" href="{{ url('my_friends') }}">My friends</a>
                <a class="navbar-item" href="{{ url('friends') }}">Find friends</a>
                <a class="navbar-item" href="{{ url('messages') }}">My messages</a>
                <a class="navbar-item" href="{{ url('achievements') }}">Achievements</a>
                <a class="navbar-item" href="{{ url('user_info') }}">User info</a>
            {% endif %}
        </div>

        <div class="navbar-end">
            {% if is_anonymous %}
                <a class="navbar-item" href="{{ url('login') }}">Login</a>
                <a class="navbar-item" href="{{ url('signup') }}">Signup</a>
            {% endif %}

            {% if current_user %}
                <a class="navbar-item" href="{{ url('logout') }}">Logout</a>
            {% endif %}
        </div>

    </div>
</nav>
{% endblock %}

<section class="section">
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</section>


</html>
