<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css" />
        <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
        <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
    {% endblock %}
</head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>
<script>
    $(document).ready(function() {
        $('#select_group').on('change', function () {
            if (this.value == '2') {
                $("#radius").show()
                $("#coords").show()
                $("#select_parameter").hide()
                $("#value").show();
            } else if (this.value == '0') {
                $("#select_parameter").show()
                $("#value").show()
                $("#radius").hide()
                $("#coords").hide();
            } else if (this.value == '1') {
                $("#value").hide()
                $("#select_parameter").hide()
                $("#radius").hide()
                $("#coords").hide();
            } else if (this.value == '8') {
                $("#value").show()
                $("#select_parameter").hide()
                $("#radius").hide()
                $("#coords").hide();
            } else if (this.value == '7') {
                $("#value").show()
                $("#select_parameter").hide()
                $("#radius").hide()
                $("#coords").hide();
            }
        });
    });
</script>
<script>
    $(document).ready(function() {
        $('#get_message_block').on('click', function () {
            $("#message").show()
            $("#message_send").show();
        });
    });
</script>
<body>

{% block nav %}
<nav class="navbar is-light" role="navigation" aria-label="main navigation">

    <div class="navbar-menu">

        <div class="navbar-start">
            <a class="navbar-item" href="{{ user_id }}">Home</a>
            {% if current_user %}
                <a class="navbar-item" href="{{ url('my_friends') }}">My friends</a>
                <a class="navbar-item" href="{{ url('friends') }}">Find friends</a>
                <a class="navbar-item" href="{{ url('messages') }}">My messages</a>
                <a class="navbar-item" href="{{ url('achievements') }}">Achievements</a>
                <a class="navbar-item" href="{{ url('user_info') }}">User info</a>
            {% endif %}
        </div>

        <div class="navbar-end">
            {% if is_anonymous %}
                <a class="navbar-item" href="{{ url('login') }}">Login</a>
                <a class="navbar-item" href="{{ url('signup') }}">Signup</a>
            {% endif %}

            {% if current_user %}
                <a class="navbar-item" href="{{ url('logout') }}">Logout</a>
            {% endif %}
        </div>

    </div>
</nav>
{% endblock %}

<section class="section">
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</section>

</body>
</html>
