{% extends "base.html" %}

{% set title = "Chat" %}

{% block content %}


<div class="columns">
    <div class="column">
        {% for message in messages %}
            <div class="box">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="{{ url('static', filename='avatars/' + message.href) }}">
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            {% if message.user_id == friend_id %}
                                <p>
                                    <a href={{ friend_id }}><small>{{ message.surname }}&nbsp</small><small>{{ message.name }}</small></a>
                                    <small>{{ message.message }}</small>
                                    <small>{{ message.datetime }}</small>
                                </p>
                            {% else %}
                                <p>
                                    <a href={{ user_id }}><small>{{ message.surname }}&nbsp</small><small>{{ message.name }}</small></a>
                                    <small>{{ message.message }}</small>
                                    <small>{{ message.datetime }}</small>
                                </p>
                            {% endif %}
                        </div>
                        <nav class="level is-mobile">
                            <div class="level-left">
                                <a class="level-item" aria-label="reply">
                                    <span class="icon is-small">
                                      <i class="fas fa-reply" aria-hidden="true"></i>
                                    </span>
                                </a>
                                <a class="level-item" aria-label="retweet">
                                    <span class="icon is-small">
                                      <i class="fas fa-retweet" aria-hidden="true"></i>
                                    </span>
                                </a>
                                <a class="level-item" aria-label="like">
                                    <span class="icon is-small">
                                      <i class="fas fa-heart" aria-hidden="true"></i>
                                    </span>
                                </a>
                            </div>
                        </nav>
                    </div>
                </article>
            </div>
        {% endfor %}
        <form action="{{ url('send_message') }}" method="post">
                <label for="message_text">Send message</label>
                <input id="message_text" name="message_text" type="text" value=""/>
                <input type="hidden" name="to_user" value="{{ friend_id }}"> <!-- перенести в бэк -->
                <button type="submit">Send...</button>
        </form>
    </div>
</div>
{% endblock %}
