{% extends "base.html" %}

{% set title = "Communities" %}

{% block content %}
<button id="create_community_button">Create Community</button>
<button id="hide_create_community_button" hidden>Hide</button>
<form id="create_community" action="{{ url('create_community') }}" method="post" hidden>
    <p>Name</p>
    <input id="name" name="name" type="text" value="" placeholder="name"/>
    <p>Bio</p>
    <input id="bio" name="bio" type="text" value="" placeholder="bio"/>
    <p>Subsphere</p>
    <select name="select_subsphere" id="select_subsphere">
        {% for subsphere in subspheres %}
            <option value="{{ subsphere.subsphere_id }}">{{ subsphere.subsphere_name }}</option>
        {% endfor %}
    </select>
    <p>Type</p>
    <select name="community_type" id="community_type">
        {% for community_type in community_types %}
            <option value="{{ community_type }}">{{ community_type }}</option>
        {% endfor %}
    </select>
    <div class="field">
                <label class="label">Conditions</label>
                <select name="select_condition0" id="select_condition0">
                    {% for condition in conditions_tj %}
                        <option value="{{ condition.generate_condition_id }}">{{ condition.condition_name }}</option>
                    {% endfor %}
                </select>
                <input name="task0" type="text" value="">
                <input name="answers0" type="text" value="">
                <input name="condition_value0" type="text" value="">
                <input name="text_color0" type="color">
                <input name="background_color0" type="color">
                <br>
                <br>
                <select name="select_condition1" id="select_condition1">
                     {% for condition in conditions_tj %}
                         <option value="{{ condition.generate_condition_id }}">{{ condition.condition_name }}</option>
                     {% endfor %}
                 </select>
                 <input name="task1" type="text" value="">
                 <input name="answers1" type="text" value="">
                 <input name="condition_value1" type="text" value="">
                <input name="text_color1" type="color">
                <input name="background_color1" type="color">
            </div>
    <br>
    <button type="submit">Send</button>
</form>
<br>
<br>
{% if requests %}
    <p>Active requests:</p>
    {% for req in requests %}
        <a href="/community/{{ req.community_id }}"><p>{{ req.community_name }}</p></a>
        <form action="/accept_invitation_comm/{{ req.community_id }}" method="POST">
            <button type="submit">Join</button>
        </form>
        <form action="/decline_invitation_comm/{{ req.community_id }}" method="POST">
            <button type="submit">Decline</button>
        </form>
    {% endfor %}
{% endif %}
<br>
<br>
{% if communities %}
    <p>My communities: </p>
    {% for community in communities %}
        <a href="{{ '/community/%s'%community.community_id }}"><p>{{ community.community_name }}</p></a>
        {% for i in range(community.sphere_name|length) %}
           <p>{{ community.sphere_name[i] }}: {{ community.subsphere_name[i] }}</p>
        {% endfor %}
    <br>
    {% endfor %}
{% endif %}
<br>
<br>
{% if owner_communities %}
    <p>My created communities: </p>
    {% for owner_community in owner_communities %}
        <a href="{{ '/community/%s'%owner_community.community_id }}"><p>{{ owner_community.community_name }}</p></a>
        {% for i in range(owner_community.sphere_name|length) %}
           <p>{{ owner_community.sphere_name[i] }}: {{ owner_community.subsphere_name[i] }}</p>
        {% endfor %}
    <br>
    {% endfor %}
{% endif %}
{% if communities_recommend %}
    <p>Recommended communities: </p>
    {% for community in communities_recommend %}
        <a href="{{ '/community/%s'%community.community_id }}"><p>{{ community.community_name }}</p></a>
    {% endfor %}
{% endif %}
{% endblock %}