{% extends "base.html" %}

{% set title = "Community info" %}

{% block content %}
    <a href="{{ '/community/%s'%community.community_id }}"><p>{{ community.community_name }} ({{ community.community_type }})</p></a>
    <br>
    <p>{{ community.community_bio }}</p>
    <br>
    <br>
    {% for i in range(community.sphere_name|length) %}
        <p>{{ community.sphere_name[i] }}</p>
        <p>{{ community.subsphere_name[i] }}</p>
        <br>
    {% endfor %}
    <br>
    {% if community.href %}
        <figure class="image is-128x128">
            <img src="{{ url('static', filename='community_avatar/'+community.href) }}">
        </figure>
    {% endif %}
    {% if access %}
        <form action="{{ url('save_community_avatar') }}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
            <label for="community_avatar">Community avatar</label>
            <input id="community_avatar" name="community_avatar" type="file" value=""/>
            <input type="submit" value="submit"/>
        </form>
    {% endif %}
    <br>
    {% if access %}
        <button id="create_payment_goal">Create Payment Goal</button>
        <button id="hide_create_payment_goal" hidden>Hide</button>
        <div id="add_payment_goal" hidden>
            <form action="{{ url('add_payment_goal') }}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
                <label for="goal_name">Payment Goal</label>
                <input id="goal_name" name="goal_name" type="text" value=""/>
                <label for="description">Description</label>
                <input id="description" name="description" type="text" value=""/>
                <label for="target_value">Target Value</label>
                <input id="target_value" name="target_value" type="number" value=""/>
                <label for="wallet_id">Wallet</label>
                <select id="wallet_id" name="wallet">
                    {% for i in wallets %}
                        <option value="{{ i.wallet_id }}">{{ i.wallet_name }}({{ i.currency }}) </option>
                    {% endfor %}
                </select>
                <button id="create_wallet" type="button">Create Wallet</button>
                <button id="hide_create_wallet" hidden>Hide</button>
                <label for="wallet_name">Wallet Name</label>
                <input id="wallet_name" name="wallet_name" type="text" value="" hidden/>
                <label for="currency">Currency</label>
                <input id="currency" name="currency" type="text" value="" hidden/>
                <label for="responsible_users">Responsible Users</label>
                <select id="responsible_users" name="responsible_users" hidden>
                    {% for i in participants %}
                        <option value="{{ i.user_id }}">{{ i.name }} {{ i.surname }}</option>
                    {% endfor %}
                </select>
                <br>
                <button type="submit">Create</button>
            </form>
        </div>
    {% endif %}
    <br>
    {% if goals %}
        <p>{{ community.community_name }} desired achievements:</p>
        {% for goal in goals %}
            <a href="/achievement/{{ goal.achievement_id }}"><p>{{ goal.name }}</p></a>
        {% endfor %}
    {% endif %}
    <br>
    <p>Community was created at: {{ community.created_date }}</p>
    {% if access %}
        <button id="add_member_community">Add members</button>
        <button id="hide_add_member_community" hidden>Hide</button>
        <form action="{{ url('add_community_member') }}" method="post" id="add_community_member" hidden>
            {% for sub in subscribers %}
                <a href='/user/{{ sub.user_id }}'><small>{{ sub.surname }}&nbsp</small><small>{{ sub.name }}</small></a>
                <label for="{{ sub.user_id }}"></label><input type="radio" id="{{ sub.user_id }}" name="{{ sub.user_id }}">
            {% endfor %}
            <button type="submit">Add</button>
        </form>
        <button id="remove_member_community">Add members</button>
        <button id="hide_remove_member_community" hidden>Hide</button>
        <form action="{{ url('remove_community_member') }}" method="post" id="remove_community_member" hidden>
            {% for par in participants_for_remove %}
                <a href='/user/{{ par.user_id }}'><small>{{ par.surname }}&nbsp</small><small>{{ par.name }}</small></a>
                <label for="{{ par.user_id }}"></label><input type="radio" id="{{ par.user_id }}" name="{{ par.user_id }}">
            {% endfor %}
            <button type="submit">Add</button>
        </form>
    {% endif %}
    {% if in_community %}
        {% for i in payment_goals %}
            <p>{{ i.goal_name }}: {{ i.current_value }}/{{ i.target_value }}</p>
        {% endfor %}
        {% if not access %}
            {% if not like and not dislike  %}
                <form method="post" action="{{ url('like') }}">
                    <button type="submit">Like</button>
                </form>
            {% elif like and not dislike %}
                <form method="post" action="{{ url('unlike') }}">
                    <button type="submit">Unlike</button>
                </form>
            {% endif %}
            {% if not recommend and not dislike %}
                <form method="post" action="{{ url('recommend') }}">
                    <button type="submit">Recommend</button>
                </form>
            {% elif recommend and not dislike %}
                <form method="post" action="{{ url('unrecommend') }}">
                    <button type="submit">Unrecommend</button>
                </form>
            {% endif %}
            {% if not dislike and not like and not recommend %}
                <form method="post" action="{{ url('dislike') }}">
                    <button type="submit">Dislike</button>
                </form>
            {% else %}
                <form method="post" action="{{ url('undislike') }}">
                    <button type="submit">Undislike</button>
                </form>
            {% endif %}
        {% endif %}
        <br>

        <form action="{{ url('leave_community') }}" method="post">
            <button id="leave_community" type="submit">Leave</button>
        </form>
    {% elif not in_community and not allow %}
        <p>To join U need to have conditions:</p>
        <form id="approve_conditions" method="post" action="{{ url('approve_conditions') }}">
            {% for condition in conditions %}
                {% if condition.href %}
                    {% if condition.approved %}
                        <p style="color: #1ca64c">Done {{ condition.condition_name }}</p>
                    {% else %}
                        <p>{{ condition.condition_name }}: </p>
                        <figure class="image is-128x128">
                            <img src="{{ url('static', filename='conditions/'+ condition.href) }}">
                        </figure>
                        <input name="{{ condition.task }}_condition_value" type="text" placeholder="Answer">
                    {% endif %}
                {% elif condition.task %}
                    {% if condition.approved %}
                        <p style="color: #1ca64c">Done {{ condition.condition_name }}</p>
                    {% else %}
                        <p>{{ condition.condition_name }}: {{ condition.task }}</p>
                        {% if condition.generate_condition_id == 4 %}
                            <p>Need count: {{ condition.condition_value }}</p>
                        {% else %}
                            <input name="{{ condition.task }}_condition_value" type="text" placeholder="Answer">
                        {% endif %}
                    {% endif %}
                {% elif condition.condition_value %}
                    {% if condition.approved %}
                        <p style="color: #1ca64c">Done {{ condition.condition_name }}</p>
                    {% else %}
                        <p>{{ condition.condition_name }}</p>
                        <p>Need count: {{ condition.condition_value }}</p>
                    {% endif %}
                {% else %}
                    {% if condition.approved %}
                        <p style="color: #1ca64c">Done {{ condition.condition_name }}</p>
                    {% else %}
                        <p>U should pass {{ condition.condition_name }}</p>
                        {% if condition.condition_name == "cover letter" and not condition.cl_send %}
                            <input type="text" name="cover_letter" placeholder="Cover letter">
                            <input type="file" name="cover_letter_file" accept=".txt, .rtf, .pdf">
                        {% elif condition.condition_name == "cover letter" and condition.cl_send %}
                            <p>U was sent a cover letter) Wait answer from owner...</p>
                        {% elif condition.condition_name == "interview" and condition.int_send %}
                            <p>Request was sent to owner. Wait link and datetime.</p>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
            <button type="submit">Submit</button>
        </form>
    {% elif not in_community and allow %}
        <form action="{{ url('join_community') }}" method="post">
            <button id="join_community" type="submit">Join</button>
        </form>
    {% endif %}

{% endblock %}