{% extends "base.html" %}

{% set title = "Course" %}

{% block content %}
<div class="box">
    <article class="media">
        <div class="media-content">
            <div class="content">
                <p>{{ course.course_name }}</p>
                <br>
                <p>{{ course.description }}</p>
                <br>
                {% for i in range(course.sphere_name|length) %}
                    <p>{{ course.sphere_name[i] }}</p>
                    <p>{{ course.subsphere_name[i] }}</p>
                    <br>
                {% endfor %}
                <br>
                {% if course.online %}
                   <p>Online</p>
                {% endif %}
                {% if course.free %}
                   <p>Free</p>
                {% endif %}
                {% if course.new %}
                   <p>New</p>
                {% endif %}
                {% for sphere in spheres %}
                    {% if sphere.sphere_name %}
                        <p>{{ sphere.sphere_name }}</p>
                        <p>{{ sphere.subsphere_name }}</p>
                        <br>
                    {% endif %}
                {% endfor %}
                <p>{{ course.joined }} participants</p>
                <br>
                <br>
                <p>Owner:</p>
                {% if course.course_owner_type == 0 %}
                   <p><a href="/user/{{ course.course_owner_id }}">{{ course.name }} {{ course.surname }}</a></p>
                {% elif course.course_owner_type == 1 %}
                   <p><a href="/community/{{ course.course_owner_id }}">{{ course.community_name }}</a></p>
                {% endif %}
            </div>
            <br>
            {% if goals %}
                <p>{{ course.course_name }} desired achievements:</p>
                {% for goal in goals %}
                    <a href="/achievement/{{ goal.achievement_id }}"><p>{{ goal.name }}</p></a>
                {% endfor %}
            {% endif %}
            <br>
            {% if owner %}
                <a href="/course/{{ course.course_id }}/course_content/0" class="button">Go to course</a>
                <button id="add_member_course">Add members</button>
                <button id="hide_add_member_course" hidden>Hide</button>
                <form action="{{ url('add_course_member') }}" method="post" id="add_course_member" hidden>
                    {% for sub in subscribers %}
                        <a href='/user/{{ sub.user_id }}'><small>{{ sub.surname }}&nbsp</small><small>{{ sub.name }}</small></a>
                        <label for="{{ sub.user_id }}"></label><input type="radio" id="{{ sub.user_id }}" name="{{ sub.user_id }}">
                    {% endfor %}
                    <button type="submit">Add</button>
                </form>
                <a href="/course/{{ course.course_id }}/cover_letter_interview" class="button">CL & I</a>
            {% else %}
                {% if in_course %}
                    <a href="/course/{{ course.course_id }}/course_content/0" class="button">Go to course</a>
                    <form action="{{ url('course_action') }}" method="post">
                         <input type="hidden" name="leave" value=False>
                         <button type="submit">Leave</button>
                    </form>
                {% elif not in_course and not allow %}
                    <p>To join U need to have conditions:</p>
                    <form id="approve_conditions" method="post" action="{{ url('approve_conditions') }}" enctype="multipart/form-data">
                        {% for condition in conditions %}
                            {% if condition.href %}
                                {% if condition.approved %}
                                    <p style="color: #1ca64c">Done {{ condition.condition_name }}</p>
                                {% else %}
                                    <p>{{ condition.condition_name }}: </p>
                                    <figure class="image is-128x128">
                                        <img src="{{ url('static', filename='conditions/'+ condition.href) }}">
                                    </figure>
                                    <input name="{{ condition.task }}_condition_value" type="text" placeholder="Answer">
                                {% endif %}
                            {% elif condition.task %}
                                {% if condition.approved %}
                                    <p style="color: #1ca64c">Done {{ condition.condition_name }}</p>
                                {% else %}
                                    <p>{{ condition.condition_name }}: {{ condition.task }}</p>
                                    {% if condition.generate_condition_id == 4 %}
                                        <p>Need count: {{ condition.condition_value }}</p>
                                    {% else %}
                                        <input name="{{ condition.task }}_condition_value" type="text" placeholder="Answer">
                                    {% endif %}
                                {% endif %}
                            {% elif condition.condition_value %}
                                {% if condition.approved %}
                                    <p style="color: #1ca64c">Done {{ condition.condition_name }}</p>
                                {% else %}
                                    <p>{{ condition.condition_name }}</p>
                                    <p>Need count: {{ condition.condition_value }}</p>
                                {% endif %}
                            {% else %}
                                {% if condition.approved %}
                                    <p style="color: #1ca64c">Done {{ condition.condition_name }}</p>
                                {% else %}
                                    <p>U should pass {{ condition.condition_name }}</p>
                                    {% if condition.condition_name == "cover letter" and not condition.cl_send %}
                                        <input type="text" name="cover_letter" placeholder="Cover letter">
                                        <input type="file" name="cover_letter_file" accept=".txt, .rtf, .pdf">
                                    {% elif condition.condition_name == "cover letter" and condition.cl_send %}
                                        <p>U was sent a cover letter) Wait answer from owner...</p>
                                    {% elif condition.condition_name == "interview" and condition.int_send %}
                                        <p>Request was sent to owner. Wait link and datetime.</p>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <button type="submit">Submit</button>
                    </form>
                {% else %}
                    <form action="{{ url('course_action') }}" method="post">
                         <input type="hidden" name="join" value=True>
                         <button type="submit">Join</button>
                    </form>
                {% endif %}
            {% endif %}
        </div>
    </article>
</div>

{% endblock %}