{% extends "base.html" %}

{% set title = "Courses" %}

{% block content %}
    <button id="create_course_button">Create Course</button>
    <button id="hide_create_course_button" hidden>Hide</button>
    <div id="create_course" class="create_course" hidden>
        <form action="{{ url('create_course') }}" method="post" enctype="multipart/form-data">
            <label>Create new course: </label>
            <p>Course name</p>
            <input id="course_name" name="course_name" type="text" value=""/>
            <p>Bio</p>
            <input id="description" name="description" type="text" value=""/>
            <p>Subsphere</p>
            <select name="select_subsphere" id="select_subsphere">
                {% for subsphere in subspheres %}
                    <option value="{{ sphere.subsphere_id }}">{{ sphere.subsphere_name }}</option>
                {% endfor %}
            </select>
            <p>Language</p>
            <select name="language" id="language">
                {% for i in languages %}
                    <option value="{{ i.language_id }}">{{ i.language_native }}</option>
                {% endfor %}
            </select>
            <input id="avatar" name="avatar" type="file" value=""/>
            <p>Sphere</p>
            <input id="sphere" name="sphere" type="text" value=""/>
            <p>Create as community</p>
            <input id="as_community" name="as_community" type="radio"/>
            <select name="community" id="community" hidden>
                {% for i in communities %}
                    <option value="{{ i.community_id }}">{{ i.community_name }}</option>
                {% endfor %}
            </select>
            <p>Level</p>
            <select name="level" id="level">
                {% for i in range(4) %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
            <p>Online</p>
            <input id="online" name="online" type="radio"/>
            <p>Free</p>
            <input id="free" name="free" type="radio"/>
            <br>
            <button type="submit">Send</button>
        </form>
    </div>
    <br>
    <br>
    {% if requests %}
        <p>Active requests:</p>
        {% for req in requests %}
            <a href="/course/{{ req.course_id }}"><p>{{ req.course_name }}</p></a>
            <form action="/accept_invitation_course/{{ req.course_id }}" method="POST">
                <button type="submit">Join</button>
            </form>
            <form action="/decline_invitation_course/{{ req.course_id }}" method="POST">
                <button type="submit">Decline</button>
            </form>
        {% endfor %}
    {% endif %}
    <br>
    <br>
    {% if own_courses %}
        <p>Created courses: </p>
        {% for course in own_courses %}
             <div class="box">
                 <article class="media">
                     <div class="media-content">
                         <div class="content">
                             <p><a href="/course/{{ course.course_id }}">{{ course.course_name }}</a></p>
                             <br>
                             <p>{{ course.description }}</p>
                             <br>
                             <p>{{ course.language_native }}</p>
                             <br>
                             <br>
                             {% for i in range(course.sphere_name|length) %}
                                <p>{{ course.sphere_name[i] }}</p>
                                <p>{{ course.subsphere_name[i] }}</p>
                                <br>
                             {% endfor %}
                             <br>
                             {% if course.online %}
                                <p>Online</p>
                             {% endif %}
                             {% if course.free %}
                                <p>Free</p>
                             {% endif %}
                             {% if course.new %}
                                <p>New</p>
                             {% endif %}
                             <p>{{ course.joined }} participants</p>
                             <br>
                             <br>
                             <p>Owner:</p>
                             {% if course.course_owner_type == 0 %}
                                <p><a href="/user/{{ course.course_owner_id }}">{{ course.name }} {{ course.surname }}</a></p>
                             {% elif course.course_owner_type == 1 %}
                                <p><a href="/community/{{ course.course_owner_id }}">{{ course.community_name }}</a></p>
                             {% endif %}
                         </div>
                     </div>
                 </article>
             </div>
            <br>
        {% endfor %}
    {% endif %}
    <br>
    {% if my_courses %}
        <p>My courses: </p>
        {% for course in my_courses %}
             <div class="box">
                 <article class="media">
                     <div class="media-content">
                         <div class="content">
                             <p><a href="/course/{{ course.course_id }}">{{ course.course_name }}</a></p>
                             <br>
                             <p>{{ course.description }}</p>
                             <br>
                             <p>{{ course.language_native }}</p>
                             <br>
                             <br>
                             {% for i in range(course.sphere_name|length) %}
                                     <p>{{ course.sphere_name[i] }}</p>
                                     <p>{{ course.subsphere_name[i] }}</p>
                                     <br>
                             {% endfor %}
                             <br>
                             {% if course.online %}
                                <p>Online</p>
                             {% endif %}
                             {% if course.free %}
                                <p>Free</p>
                             {% endif %}
                             {% if course.new %}
                                <p>New</p>
                             {% endif %}
                             <p>{{ course.joined }} participants</p>
                             <br>
                             <br>
                             <p>Owner:</p>
                             {% if course.course_owner_type == 0 %}
                                <p><a href="/user/{{ course.course_owner_id }}">{{ course.name }} {{ course.surname }}</a></p>
                             {% elif course.course_owner_type == 1 %}
                                <p><a href="/community/{{ course.course_owner_id }}">{{ course.community_name }}</a></p>
                             {% endif %}
                         </div>
                     </div>
                 </article>
             </div>
            <br>
        {% endfor %}
    {% endif %}
    <br>
    {% if courses %}
        <p>Expected courses:</p>
        {% for course in courses %}
             <div class="box">
                 <article class="media">
                     <div class="media-content">
                         <div class="content">
                             <p><a href="/course/{{ course.course_id }}">{{ course.course_name }}</a></p>
                             <br>
                             <p>{{ course.description }}</p>
                             <p>{{ course.language_native }}</p>
                             <br>
                             <br>
                             {% for i in range(course.sphere_name|length) %}
                                     <p>{{ course.sphere_name[i] }}</p>
                                     <p>{{ course.subsphere_name[i] }}</p>
                                     <br>
                             {% endfor %}
                             <br>
                             {% if course.online %}
                                <p>Online</p>
                             {% endif %}
                             {% if course.free %}
                                <p>Free</p>
                             {% endif %}
                             {% if course.new %}
                                <p>New</p>
                             {% endif %}
                             <p>{{ course.joined }} participants</p>
                             <br>
                             <br>
                             <p>Owner:</p>
                             {% if course.course_owner_type == 0 %}
                                <p><a href="/user/{{ course.course_owner_id }}">{{ course.name }} {{ course.surname }}</a></p>
                             {% elif course.course_owner_type == 1 %}
                                <p><a href="/community/{{ course.course_owner_id }}">{{ course.community_name }}</a></p>
                             {% endif %}
                         </div>
                     </div>
                 </article>
             </div>
            <br>
        {% endfor %}
    {% else %}
        <p>No courses are available</p>
    {% endif %}
{% endblock %}