{% extends "base.html" %}

{% set title = "Course" %}

{% block content %}
<div class="box">
    <article class="media">
        <div class="media-content">
            <div class="content">
                <p>{{ course.course_name }}</p>
                <br>
                <p>{{ course.description }}</p>
                <br>
                <p>{{ course.sphere }}</p>
                {% if course.online %}
                   <p>Online</p>
                {% endif %}
                {% if course.free %}
                   <p>Free</p>
                {% endif %}
                {% if course.new %}
                   <p>New</p>
                {% endif %}
                <p>{{ course.joined }} participants</p>
                <br>
                <br>
                <p>Owner:</p>
                {% if course.course_owner_type == 0 %}
                   <p><a href=/{{ course.course_owner_id }}>{{ course.name }} {{ course.surname }}</a></p>
                {% elif course.course_owner_type == 1 %}
                   <p><a href="/community/{{ course.course_owner_id }}">{{ course.community_name }}</a></p>
                {% endif %}
            </div>
            {% if in_course %}
                <a href="/course/{{ course.course_id }}/course_content/0" class="button">Go to course</a>
                <form action="{{ url('course_action') }}" method="post">
                     <input type="hidden" name="leave" value=False>
                     <button type="submit">Leave</button>
                </form>
            {% else %}
                <form action="{{ url('course_action') }}" method="post">
                     <input type="hidden" name="join" value=True>
                     <button type="submit">Join</button>
                </form>
            {% endif %}
        </div>
    </article>
</div>

{% endblock %}