{% extends "base.html" %}

{% set title = "Chats" %}

{% block content %}


<a class="button" id="direct_button">Direct chats</a>
<a class="button" id="group_button">Group chats</a>
<a class="button" id="community_button">Community chats</a>
<a class="button" id="course_button">Course chats</a>
<br>
<br>
<div id="direct_chats" name="direct_chats">
{% for i in range(users|length) %}
    {% if users[i].message %}
    <div class="columns">
        <div class="column">
            <div class="box">
                <article class="media">
                    {% if users[i].href %}
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="{{ url('static', filename='avatars/' + users[i].href) }}">
                        </figure>
                    </div>
                    {% endif %}
                        <div class="media-content">
                            <div class="content">
                                <p><a href='/chat/{{ users[i].chat_id }}'>{{ users[i].name }} {{ users[i].surname }}</a></p>
                                <div class="content">
                                    <p>
                                        <small>{{ users[i].m_name }}</small>
                                        <small>{{ users[i].m_surname }}</small>
                                        <small>{{ users[i].message }}</small>
                                        <small>{{ users[i].datetime }}</small>
                                    </p>
                                </div>
                                {% if users[i].is_read %}
                                    <p>Read</p>
                                {% else %}
                                    <p>Unread</p>
                                {% endif %}
                                <nav class="level is-mobile">
                                    <div class="level-left">
                                        <a class="level-item" aria-label="reply">
                                            <span class="icon is-small">
                                              <i class="fas fa-reply" aria-hidden="true"></i>
                                            </span>
                                        </a>
                                        <a class="level-item" aria-label="retweet">
                                            <span class="icon is-small">
                                              <i class="fas fa-retweet" aria-hidden="true"></i>
                                            </span>
                                        </a>
                                        <a class="level-item" aria-label="like">
                                            <span class="icon is-small">
                                              <i class="fas fa-heart" aria-hidden="true"></i>
                                            </span>
                                        </a>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    {% endif %}
    {% endfor %}
</div>
<div id="community_chats" name="community_chats" hidden>
{% for community in communities %}
    <div class="columns">
        <div class="column">
            <div class="box">
                <article class="media">
                    {% if community.href %}
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="{{ url('static', filename='community_avatar/' + community.href) }}">
                        </figure>
                    </div>
                    {% endif %}
                        <div class="media-content">
                            <div class="content">
                                <p><a href='/chat/{{ community.chat_id }}'>{{ community.community_name }}</a></p>
                                {% if community.message %}
                                    {% if community.m_name %}
                                        <div class="content">
                                            <p>
                                                <small>{{ community.m_name }}</small>
                                                <small>{{ community.m_surname }}</small>
                                                <small>{{ community.message }}</small>
                                                <small>{{ community.datetime }}</small>
                                            </p>
                                        </div>
                                    {% else %}
                                        <div class="content">
                                            <p>
                                                <small>{{ community.m_community_name }}</small>
                                                <small>{{ community.message }}</small>
                                                <small>{{ community.datetime }}</small>
                                            </p>
                                        </div>
                                    {% endif %}
                                {% endif %}
                                <nav class="level is-mobile">
                                    <div class="level-left">
                                        <a class="level-item" aria-label="reply">
                                            <span class="icon is-small">
                                              <i class="fas fa-reply" aria-hidden="true"></i>
                                            </span>
                                        </a>
                                        <a class="level-item" aria-label="retweet">
                                            <span class="icon is-small">
                                              <i class="fas fa-retweet" aria-hidden="true"></i>
                                            </span>
                                        </a>
                                        <a class="level-item" aria-label="like">
                                            <span class="icon is-small">
                                              <i class="fas fa-heart" aria-hidden="true"></i>
                                            </span>
                                        </a>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div id="course_chats" name="course_chats" hidden>
{% for course in courses %}
    <div class="columns">
        <div class="column">
            <div class="box">
                <article class="media">
                    {% if course.href %}
                        <div class="media-left">
                            <figure class="image is-64x64">
                                <img src="{{ url('static', filename='course_avatar/' + course.href) }}">
                            </figure>
                        </div>
                    {% endif %}
                        <div class="media-content">
                            <div class="content">
                                <p><a href='/chat/{{ course.chat_id }}'>{{ course.course_name }}</a></p>
                                {% if course.message %}
                                    {% if course.m_name %}
                                        <div class="content">
                                            <p>
                                                <small>{{ course.m_name }}</small>
                                                <small>{{ course.m_surname }}</small>
                                                <small>{{ course.message }}</small>
                                                <small>{{ course.datetime }}</small>
                                            </p>
                                        </div>
                                    {% else %}
                                        <div class="content">
                                            <p>
                                                <small>{{ course.m_course_name }}</small>
                                                <small>{{ course.message }}</small>
                                                <small>{{ course.datetime }}</small>
                                            </p>
                                        </div>
                                    {% endif %}
                                {% endif %}
                                <nav class="level is-mobile">
                                    <div class="level-left">
                                        <a class="level-item" aria-label="reply">
                                            <span class="icon is-small">
                                              <i class="fas fa-reply" aria-hidden="true"></i>
                                            </span>
                                        </a>
                                        <a class="level-item" aria-label="retweet">
                                            <span class="icon is-small">
                                              <i class="fas fa-retweet" aria-hidden="true"></i>
                                            </span>
                                        </a>
                                        <a class="level-item" aria-label="like">
                                            <span class="icon is-small">
                                              <i class="fas fa-heart" aria-hidden="true"></i>
                                            </span>
                                        </a>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<div id="group_chats" name="group_chats" hidden>
    <button id="create_group_chat_button">Create Group Chat</button>
    <button id="hide_create_group_chat_button" hidden>Hide</button>
    <form id="create_group_chat" action="{{ url('create_group_chat') }}" method="post" accept-charset="utf-8" enctype="multipart/form-data" hidden>
        <p>Group chat name</p>
        <label for="group_chat_name"><input id="group_chat_name" name="group_chat_name" type="text" value="">
        <input id="group_chat_avatar" name="group_chat_avatar" type="file" value=""/></label>
        <button type="submit">Create</button>
    </form>
    {% for group in groups %}
        <div class="columns">
            <div class="column">
                <div class="box">
                    <article class="media">
                        {% if group.href %}
                            <div class="media-left">
                                <figure class="image is-64x64">
                                    <img src="{{ url('static', filename='group_avatar/' + group.href) }}">
                                </figure>
                            </div>
                        {% endif %}
                        <div class="media-content">
                            <div class="content">
                                <p><a href='/chat/{{ group.chat_id }}'>{{ group.group_name }}</a></p>
                                {% if group.message %}
                                    <div class="content">
                                        <p>
                                            <small>{{ group.m_name }}</small>
                                            <small>{{ group.message }}</small>
                                            <small>{{ group.datetime }}</small>
                                        </p>
                                    </div>
                                {% endif %}
                                <nav class="level is-mobile">
                                    <div class="level-left">
                                        <a class="level-item" aria-label="reply">
                                            <span class="icon is-small">
                                              <i class="fas fa-reply" aria-hidden="true"></i>
                                            </span>
                                        </a>
                                        <a class="level-item" aria-label="retweet">
                                            <span class="icon is-small">
                                              <i class="fas fa-retweet" aria-hidden="true"></i>
                                            </span>
                                        </a>
                                        <a class="level-item" aria-label="like">
                                            <span class="icon is-small">
                                              <i class="fas fa-heart" aria-hidden="true"></i>
                                            </span>
                                        </a>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

