{% extends "base.html" %}

{% set title = "Messages" %}

{% block content %}




{% for i in range(users|length) %}
    <div class="columns">
        <div class="column">
            <div class="box">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="{{ url('static', filename='avatars/' + users[i].href) }}">
                        </figure>
                    </div>
                        <div class="media-content">
                            <div class="content">
                                <p><a href='chat_{{ users[i].user_id }}'>{{ users[i].name }} {{ users[i].surname }}</a></p>
                                <div class="content">
                                    <p>
                                        <small>{{ messages[i].name }}</small>
                                        <small>{{ messages[i].surname }}</small>
                                        <small>{{ messages[i].message }}</small>
                                        <small>{{ messages[i].datetime }}</small>
                                    </p>
                                </div>
                                {% if messages[i].is_read %}
                                <p>Read</p>
                                {% else %}
                                <p>Unread</p>
                                {% endif %}
                                <nav class="level is-mobile">
                                    <div class="level-left">
                                        <a class="level-item" aria-label="reply">
                                            <span class="icon is-small">
                                              <i class="fas fa-reply" aria-hidden="true"></i>
                                            </span>
                                        </a>
                                        <a class="level-item" aria-label="retweet">
                                            <span class="icon is-small">
                                              <i class="fas fa-retweet" aria-hidden="true"></i>
                                            </span>
                                        </a>
                                        <a class="level-item" aria-label="like">
                                            <span class="icon is-small">
                                              <i class="fas fa-heart" aria-hidden="true"></i>
                                            </span>
                                        </a>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
