{% extends "base.html" %}

{% set title = "Personal page" %}

{% block content %}
    {% if user %}
        {% if user.name and user.surname and user.bio and user.age %}
            <p>{{ user.name }} {{ user.surname }}</p>
            <p>Age: {{ user.age }}</p>
            <p>{{ user.bio }}</p>
            <br>
        {% endif %}
        {% if user.href %}
            <figure class="image is-128x128">
                <img src="{{ url('static', filename='avatars/'+ user.href) }}">
            </figure>
        {% endif %}
    <br><br><br><br>
    {% if me %}
        <form action="{{ url('save_avatar') }}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
            <label for="avatar">Avatar</label>
            <input id="avatar" name="avatar" type="file" value=""/>
            <input type="submit" value="submit"/>
        </form>
    {% endif %}
    {% if block != 2 %}
        {% if not me and allow %}
            <form action="{{ url('send_message') }}" method="post">
                    <label for="message_text">Send message</label>
                    <input id="message_text" name="message_text" type="text" value=""/>
                    <button type="submit">Send...</button>
            </form>
        {% elif not me and not allow %}
            <p>To chat U need to have conditions:</p>
            {% for condition in condition_to_chat %}
                {% if condition.href %}
                    <p>{{ condition.condition_name }}: </p>
                    <figure class="image is-128x128">
                        <img src="{{ url('static', filename='conditions/'+ condition.href) }}">
                    </figure>
                    <p>Need count: {{ condition.condition_value }}</p>
                {% elif condition.task %}
                    <p>{{ condition.condition_name }}: {{ condition.task }}</p>
                    <p>Need count: {{ condition.condition_value }}</p>
                {% elif condition.condition_value %}
                    <p>{{ condition.condition_name }}</p>
                    <p>Need count: {{ condition.condition_value }}</p>
                {% else %}
                    <p>U should be {{ condition.condition_name }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
    <br>
    {% if me %}
        <form action="{{ url('add_post') }}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
            <label for="message">Add New Post</label>
            <input id="message" name="message" type="text" value=""/>
            <input type="submit" value="Send"/>
            <input type="file" id="file" name="file">
        </form>
    {% endif %}
    <br>

    <ul>
    {% for post in posts %}
        <li><a href="/user/{{ post.user_id }}">{{ post.name }} {{ post.surname }}</a> {{ post.message }} {{ post.date_created }}</li>
        {% if post.href %}
            <figure class="image is-128x128">
                <img src="{{ url('static', filename='image_posts/' + post.href) }}">
            </figure>
        {% endif %}
    {% endfor %}
    </ul>
    <br>
    <br>
    {% if me and friends %}
        <p>My followers:</p>
    {% elif not me and friends %}
        <p>{{ user.name }} followers:</p>
    {% endif %}
    <br>
    <ul>
        {% for friend in friends %}
            <li><a href={{ friend.id }}>{{ friend.name }} {{ friend.surname }}</a></li>
            <br>
        {% endfor %}
    </ul>
    <div>
        {% if achievements_user %}
            {% if me %}
                <p>
                    My achievements:
                </p>
            {% else %}
                <p>
                    {{ user.name }} achievements:
                </p>
            {% endif %}
        {% for achievement in achievements_user %}
            <br>
            <a href="{{ '/achievement/%s'%achievement.achievement_id }}"> <p>{{ achievement.name }}</p></a>
        {% endfor %}
        {% endif %}
        <br>
        {% if achievements_desired %}
            {% if me %}
                <p>
                    My desire achievements:
                </p>
            {% else %}
                <p>
                    {{ user.name }} desire achievements:
                </p>
            {% endif %}
            {% for achievement in achievements_desired %}
                <br>
                <a href="{{ '/achievement/%s'%achievement.achievement_id }}"> <p>{{ achievement.name }}</p></a>
            {% endfor %}
        {% endif %}
        <br>
        {% if achievements_approve %}
            {% if me %}
                <p>
                    My achievements to approve:
                </p>
            {% else %}
                <p>
                    {{ user.name }} achievements to approve:
                </p>
            {% endif %}
            {% for achievement in achievements_approve %}
                <br>
                <a href="{{ '/achievement/%s'%achievement.achievement_id }}"> <p>{{ achievement.name }}</p></a>
                {% if achievement.approve != 1  and not me %}
                    <form action="{{ url('approve') }}" method="post">
                        <input id="achi_id" name="achi_id" type="text" value="{{ achievement.achievement_id }}" hidden>
                        <button type="submit"> Approve </button>
                    </form>
                {% endif %}
            {% endfor %}
        {% endif %}
        </div>
    {% else %}
        <p>You was blocked by {{ user.name }} {{ user.surname }}</p>
    {% endif %}
    {% endif %}
{% endblock %}
