{% extends "base.html" %}

{% set title = "Posts" %}


<body>
{% block content %}
    <a href="/my_posts"><p style="display: inline-block">My posts</p></a>
    <a href="/posts"><p style="display: inline-block">All posts</p></a>
    <br>
    {% for post in posts %}
        <br>
        {% if post.href and post.avatar %}
            <div class="box">
                <figure class="image is-64x64" style="display: inline-block; border-radius: 50%">
                    <img style="border-radius: 70%" src="{{ url('static', filename='avatars/' + post.avatar) }}">
                </figure>
                <a href="{{ post.user_id }}"><p style="display: inline-block">{{ post.name }} {{ post.surname }}</p></a>
                <br>
                <br>
                <br>
                <p>{{ post.message }}</p>
                <figure class="image is-64x64">
                    <img src="{{ url('static', filename='image_posts/' + post.href) }}">
                </figure>
                <br>
                <br>
                <p>{{ post.date_created }}</p>
            </div>
        {% elif post.href %}
            <div class="box">
                <a href="{{ post.user_id }}"><p>{{ post.name }} {{ post.surname }}</p></a>
                <p>{{ post.message }}</p>
                <figure class="image is-64x64">
                    <img src="{{ url('static', filename='image_posts/' + post.href) }}">
                </figure>
                <p>{{ post.date_created }}</p>
            </div>
        {% elif post.avatar %}
            <div class="box">
                <figure class="image is-64x64" style="display: inline-block">
                    <img style="border-radius: 70%" src="{{ url('static', filename='avatars/' + post.avatar) }}">
                </figure>
                <a href="{{ post.user_id }}"><p style="display: inline-block">{{ post.name }} {{ post.surname }}</p></a>
                <br>
                <br>
                <br>
                <p>{{ post.message }}</p>
                <p>{{ post.date_created }}</p>
            </div>
        {% else %}
            <div class="box">
                <a href="{{ post.user_id }}"><p>{{ post.name }} {{ post.surname }}</p></a>
                <p>{{ post.message }}</p>
                <p>{{ post.date_created }}</p>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
</body>