{% extends "base.html" %}

{% set title = "Find friends" %}

{% block content %}
    {% if users %}
        <div class="columns">
            <div class="column">
                {% for user in users %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                {% if user.href is not none %}
                                <figure class="image is-64x64">
                                    <img src="{{ url('static', filename='avatars/' + user.href) }}">
                                </figure>
                                {% endif %}
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p><a href={{ user.user_id }}>{{ user.name }} {{ user.surname }}</a></p>
                                    <form action="{{ url('subscribe') }}" method="post">
                                        <input type="hidden" name="uid" value="{{ user.user_id }}">
                                        <button type="submit">subscribe</button>
                                    </form>
                                </div>
                            </div>
                        </article>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}
