{% extends "base.html" %}

{% set title = "User info" %}
<!--<script>-->
<!--        function getSelectValue()-->
<!--        {-->
<!--            var selectedValue = document.getElementById("select_country").value;-->
<!--            console.log(selectedValue);-->
<!--        }-->
<!--        getSelectValue();-->
<!--</script>-->


<script>
    $('#select_country').on('change', function () {
        var city = JSON.parse('{{ cities | safe }}');
        city = city.filter(element => element.country_id = $(this).find('option:selected').val());
        var create = '<select id="test">';
        for(var i = 0; i < city.length;i++)
        {
            create += '<option value="'+city[i]['city_id']+'">'+city[i]['city_name']+'</option>';
        }
        create += '</select>';
        $('#field_city').append(create);
    });
</script>
<body>
{% block content %}
<div class="columns">
    <div class="column is-6">
        <form action="{{ url('user_info') }}" method="post" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">
            <div class="field">
                <label class="label">Surname</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="text" name="surname" placeholder="Suname" value="{{ user.surname }}">
                    <span class="icon is-small is-left">
                        <i class="fas fa-signature"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <label class="label">Name</label>
                <p class="control has-icons-left has-icons-right">
                    <input class="input" name="name" type="text" placeholder="Name" value="{{ user.name }}">
                    <span class="icon is-small is-left">
                        <i class="fas fa-signature"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <label class="label">Country</label>
                <span class="icon is-small is-left">
                    <i class="fas fa-flag"></i>
                </span>
<!--                <select name="select_country" id="select_country">-->
<!--                    {% for i in range(countries|length) %}-->
<!--                        <option value="{{ countries[i].country_id }}">{{ countries[i].country_name }}</option>-->
<!--                    {% endfor %}-->
<!--                    <option value="{{ user.country_id }}" selected>{{ user.country_name_native }}</option>-->
<!--                </select>-->
            </div>
            <div class="field_city">
                <label class="label">City</label>
                <span class="icon is-small is-left">
                    <i class="fas fa-building"></i>
                </span>
<!--                 <select name="select_city" id="select_city">-->
<!--                   {% for i in range(cities|length) %}-->
<!--                    <option value="{{ cities[i].city_id }}">{{ cities[i].city_name }}</option>-->
<!--                    {% endfor %}-->
<!--                 </select>-->
            </div>
            <div class="field">
                <label class="label">Birthday</label>
                <p class="control has-icons-left has-icons-right">
                    <input class="input" name="birthday" type="date" placeholder="Age" value="{{ user.age }}">
                    <span class="icon is-small is-left">
                        <i class="fas fa-bong"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <label class="label">Bio</label>
                <p class="control has-icons-left has-icons-right">
                    <input class="input" name="bio" type="text" placeholder="Bio" value="{{ user.bio }}">
                    <span class="icon is-small is-left">
                        <i class="fas fa-bio"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <label class="label">Conditions</label>
                <select name="select_condition0" id="select_condition0">
                    {% for condition in conditions %}
                        <option value="{{ condition.generate_condition_id }}">{{ condition.condition_name }}</option>
                    {% endfor %}
                </select>
                <p>Task</p>
                <input name="task0" type="text" value="">
                <p>Test answer url</p>
                <input name="answers0" type="text" value="">
                <p>Value</p>
                <input name="condition_value0" type="text" value="">
                <input name="text_color0" type="color">
                <input name="background_color0" type="color">
                <p>Percentage</p>
                <input type="radio" name="percentage0">
                <p>As image</p>
                <input type="radio" name="image0">
                <br>
                <br>
                <select name="select_condition1" id="select_condition1">
                     {% for condition in conditions %}
                         <option value="{{ condition.generate_condition_id }}">{{ condition.condition_name }}</option>
                     {% endfor %}
                </select>
                <p>Task</p>
                <input name="task1" type="text" value="">
                <p>Test answer url</p>
                <input name="answers1" type="text" value="">
                <p>Value</p>
                <input name="condition_value1" type="text" value="">
                <input name="text_color1" type="color">
                <input name="background_color1" type="color">
                <p>Percentage</p>
                <input type="radio" name="percentage1">
                <p>As image</p>
                <input type="radio" name="image1">
            </div>
            <div class="field">
                <p class="control">
                    <button class="button is-success">
                        Accept
                    </button>
                </p>
            </div>
        </form>
    </div>
</div>
{% endblock %}
</body>