{% extends "base.html" %}

{% set title = "Signup" %}

{% block content %}
<div class="columns">
    <div class="column is-6">
        <form action="{{ url('user_info') }}" method="post" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">
            <div class="field">
                <label class="label">Surname</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" type="text" name="surname" placeholder="Suname" value="">
                    <span class="icon is-small is-left">
                        <i class="fas fa-signature"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <label class="label">Name</label>
                <p class="control has-icons-left has-icons-right">
                    <input class="input" name="name" type="text" placeholder="Name">
                    <span class="icon is-small is-left">
                        <i class="fas fa-signature"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <label class="label">Country</label>
                <span class="icon is-small is-left">
                    <i class="fas fa-flag"></i>
                </span>
                <select name="select">
                    {% for i in range(countries|length) %}
                    <option value="{{ countries[i].country_id }}">{{ countries[i].country_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="field">
                <label class="label">City</label>
                <span class="icon is-small is-left">
                    <i class="fas fa-building"></i>
                </span>
                 <select name="select">
                   {% for i in range(cities|length) %}
                    <option value="{{ cities[i].city_id }}">{{ cities[i].city_name }}</option>
                    {% endfor %}
                 </select>
            </div>
            <div class="field">
                <label class="label">Age</label>
                <p class="control has-icons-left has-icons-right">
                    <input class="input" name="age" type="number" placeholder="Age">
                    <span class="icon is-small is-left">
                        <i class="fas fa-bong"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <label class="label">Bio</label>
                <p class="control has-icons-left has-icons-right">
                    <input class="input" name="bio" type="text" placeholder="Bio">
                    <span class="icon is-small is-left">
                        <i class="fas fa-bio"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <button class="button is-success">
                        Accept
                    </button>
                </p>
            </div>
        </form>
    </div>
</div>
{% endblock %}
